@import "./_app-variables";
@import "./../../../common/styles/cam-webapps-common.less";


/* ---------------------------------------------------------------- */

.page-header{
  margin: 0 (@grid-gutter-width * 0.5);
  border: none;
}

/* ---------------------------------------------------------------- */

form .form-control,
form .form-control-static,
form .btn {
  font-size: 18px;
}

/* ---------------------------------------------------------------- */

.hub-page {
  padding-top: @grid-gutter-width * 0.5;
}


.app-label-wrapper {
  &:before {
    content: '';
    display: block;
    padding-top: 100%;
  }
  position: relative;
  margin: 0 auto 10px auto;
  max-width: 220px;
  max-height: 220px;
  background-color: @gray-light;
  > h3 {
    // font-size: 24px;
    margin-top: -12px;
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: @body-bg;
  }
}

.app-link-description {
  max-width: 220px;
  margin: 0 auto;
}

.app-link:hover .app-label-wrapper {
  background-color: @link-hover-color;
}

/* ---------------------------------------------------------------- */

@import "./../scripts/pages/welcome";

/* ---------------------------------------------------------------- */

@import "./../scripts/directives/user-profile";
@import "./../scripts/directives/custom-links";