@import "./_app-variables";
@import "./../../../common/styles/cam-webapps-common.less";


/* ---------------------------------------------------------------- */

.page-header{
  margin: 0 (@grid-gutter-width * 0.5);
  border: none;
}

/* ---------------------------------------------------------------- */

form .form-control,
form .form-control-static,
form .btn {
  font-size: 18px;
}

/* ---------------------------------------------------------------- */

.hub-page {
  padding-top: @grid-gutter-width * 0.5;
}

/* ---------------------------------------------------------------- */

@import "./../scripts/pages/welcome";

/* ---------------------------------------------------------------- */

@import "./../scripts/directives/user-profile";
@import "./../scripts/directives/custom-links";