.dashboard {
  form.time-range {
    //padding-top: 4px;
    .form-control {
      width: auto;
    }
    .control-label,
    .form-control,
    .checkbox {
      vertical-align: middle;
      display: inline-block;
    }
  }

  section.now,
  section.metrics {
    padding-left: 0;
    padding-right: 0;
  }

  header {
    overflow: hidden;
  }

  header .nav.nav-tabs {
    margin-top: 0;
    float: right;
  }

  section > .inner {
    min-height: auto;
  }

  .entry {
    margin-bottom: 10px;
  }

  view.row {
    display: block;
  }


  .metrics [cam-sparkline] {
    min-height: 120px;
  }

  .loading .value {
    color: @gray-lighter;
  }
}