.dashboard {
  .stats-label {
    display: block;
  }

  section.now,
  section.metrics {
    padding-left: 0;
    padding-right: 0;
  }

  header {
    overflow: hidden;
  }

  header .nav.nav-tabs {
    margin-top: 0;
    float: right;
  }

  section > .inner {
    min-height: auto;
  }

  .entry {
    margin-bottom: 10px;
  }

  view.row {
    display: block;
  }


  .metrics [cam-sparkline] {
    min-height: 120px;
    canvas {
      background-color: @custom-gray-lighter;
    }
  }

  .loading .value {
    color: @gray-lighter;
  }
}