<form name="timeRange"
      class="form-inline time-range row">
  <!-- # CE - camunda-cockpit-ui/client/scripts/directives/dashboard-time-query.html -->
  <div class="col-xs-4 col-sm-8 time-range-selection">
    <label class="control-label"
           for="sampling">Every</label>
    <select class="input-sm form-control"
            name="sampling"
            id="sampling"
            ng-model="selection.sampling"
            ng-change="updateDuration()">
      <option value="seconds-15">15 sec.</option>
      <option value="seconds-30">30 sec.</option>
      <option value="minutes-1">minute</option>
      <option value="minutes-15" selected>15 min.</option>
      <option value="minutes-30">30 min.</option>
      <option value="hours-1">hour</option>
      <option value="hours-12">12 hours</option>
      <option value="days-1">day</option>
      <option value="weeks-1">week</option>
      <option value="months-1">month</option>
      <option value="months-3">3 months</option>
      <option value="months-6">6 months</option>
      <option value="years-1">year</option>
    </select>

    <!-- <label class="control-label"
           for="start">Until</label>
    <input class="input-sm form-control"
           type="text"
           name="start"
           id="start"
           size="16"
           ng-model="selection.start"
           placeholder="Now"
           ng-change="updateDuration()"
           tooltip="Leave empty for the current time" /> -->
    <label class="switch">
      <input type="checkbox"
             name="direction"
             ng-model="selection.direction" />
      <span class="control-label">
        <span class="checked">Since</span>
        <span class="unchecked">Until</span>
      </span>
    </label>
    <input class="input-sm form-control"
           type="text"
           name="start"
           size="16"
           ng-model="selection.start"
           placeholder="Now"
           ng-change="updateDuration()"
           tooltip="Leave empty for the current time" />

     <div class="checkbox">
       <label>
         <input type="checkbox"
                name="autoRefresh"
                ng-model="selection.autoRefresh" />
         Auto refresh
       </label>
     </div>
  </div>
  <div class="col-xs-8 col-sm-4 text-right">
    <!-- <span tooltip="{{ display.diff }}">
      <span class="time-range-end">{{ display.start }}</span>
      -
      <span class="time-range-end">{{ display.end }}</span>
    </span> -->
    <span class="input-sm form-control-static">{{ display.diff }} before {{ display.start }}</span>
  </div>
  <!-- / CE - camunda-cockpit-ui/client/scripts/directives/dashboard-time-query.html -->
</form>