<form name="timeRange"
      class="form-inline time-range row">
  <!-- # CE - camunda-cockpit-ui/client/scripts/directives/dashboard-time-query.html -->
  <div class="col-xs-12 time-range-selection">
    <label class="control-label"
           for="sampling">Every</label>
    <select class="input-sm form-control"
            name="sampling"
            id="sampling"
            ng-model="selection.sampling"
            ng-change="updateDuration()">
      <option value="seconds-5">5 sec.</option>
      <option value="seconds-15">15 sec.</option>
      <option value="seconds-30">30 sec.</option>
      <option value="minutes-1">minute</option>
      <option value="minutes-15">15 min.</option>
      <option value="minutes-30">30 min.</option>
      <option value="hours-1">hour</option>
      <option value="hours-12">12 hours</option>
      <option value="days-1">day</option>
      <option value="weeks-1">week</option>
      <option value="months-1">month</option>
      <option value="months-3">3 months</option>
      <option value="months-6">6 months</option>
      <option value="years-1">year</option>
    </select>

    <!-- <input class="input-sm form-control"
           type="text"
           name="start"
           size="16"
           ng-model="selection.start"
           placeholder="{{ now }}"
           ng-change="updateDuration()"
           ng-disabled="selection.autoRefresh"
           ng-pattern="/[0-9]{4}-[0-1]{1}[0-9]{1}-[0-3]{1}[0-9]{1} [0-9]{2}:[0-9]{2}(:[0-9]{2}|)/"
           tooltip="Format '2016-08-23 07:21' or leave empty for the current time" /> -->

     <div class="checkbox">
       <label>
         <input type="checkbox"
                name="autoRefresh"
                ng-model="selection.autoRefresh" />
         Auto refresh
       </label>
     </div>
  </div>
  <!-- / CE - camunda-cockpit-ui/client/scripts/directives/dashboard-time-query.html -->
</form>