[cam-widget-header] {
  border-top: none;
  background-color: #f2f2f2;

  .account .dropdown-toggle {
    padding: 4px;
    border-radius: 4px;
    margin-left: 15px;
    margin-right: 8px;
    height: auto;
    line-height: 1;
    background-color: #35bad9 !important;
    color: #fff;

    &:hover {
      background-color: #35bad9;
    }
  }

  .account.dropdown {
    display: inline-flex;
    align-items: center;
    height: 42px;
  }
}

.region-toggle, .maximize {
  color: #196ca6 !important;
}

.column .cell.top {
  background-color: #f1f1f3;
}

.task-filter.active {
  background-color: #dbeef4;
}

.task-filter {
  .counter {
    background-color: #2d88a3;
    color: #fff;
    border-radius: 13px;
    font-size: 13px;
    padding: 0 8px;
    position: relative;
    top: -1px;
    margin-left: 10px;
    display: inline-block;
  }
}

.sorting-choice a {
  color: #0076d9 !important;
}

.task {
  &.active {
    background-color: #e2f3f8;
  }
}

.task-card-details .shutter {
  background-image: none;
}

.task-filters {
  .btn-link:not(.region-toggle) {
    display: block;
    padding: 2px 4px;
    height: auto;
    border-radius: 5px;
    line-height: 20px;
    background-color: #0072c1;
    color: #fff !important;

    &:hover {
      color: #fff !important;
    }
  }
}

.createCommentLink {
  display: block;
  padding: 2px 4px;
  height: auto;
  border-radius: 5px;
  line-height: 20px;
  background-color: #0072c1;
  color: #fff !important;
}

.task-card {
  .view-value {
    padding: 3px 12px;
    background-color: #0072c1;
    color: #fff;

    &:hover {
      color: #fff;
    }

    a {
      color: inherit;
    }
  }
}

.groups > span {
  top: 3px;
  padding: 5px 12px;
  background-color: #0072c1;
  color: #fff;

  a {
    color: inherit;
  }
}

.nav-tabs {
  li.active {
    a {
      background-color: #e2f3f8 !important;
    }
  }
}

.panel-default > .panel-heading {
  background-color: #b7dde8;
}

.row-action > a[ng-click] {
  padding: 3px;
  background-color: #0072c1;
  border-radius: 5px;
}

.row-action>a[ng-click]>span,
.row-action .btn-link>span {
  vertical-align: middle;
  color: #fff;
}

.brand-logo {
  display: block;
  margin-top: 8px;
  width: 120px;
  height: 30px;
  background-image: url('../assets/images/alfa-logo.png');
  background-size: cover;

  &:before {
    display: none !important;
  }
}

.brand-name {
  display: none;
}
