[cam-widget-header] {
  border-top: none;
  background-color: #f2f2f2;

  .account .dropdown-toggle {
    background-color: #35bad9;
  }
}

.region-toggle, .maximize {
  color: #196ca6 !important;
}

.column .cell.top {
  background-color: #f1f1f3;
}

.task-filter.active {
  background-color: #dbeef4;
}

.task-filter {
  .counter {
    background-color: #2d88a3;
    color: #fff;
    border-radius: 13px;
    font-size: 13px;
    padding: 0 8px;
    position: relative;
    top: -1px;
    margin-left: 10px;
    display: inline-block !important;
  }
}

.sorting-choice a {
  color: #0076d9 !important;
}

.task {
  &.active {
    background-color: #e2f3f8;
  }
}

.task-card-details .shutter {
  background-image: none;
}

//.btn-default {
//  background-color: #93cf52;
//  color: #fff;
//}

.task-filters {
  .btn-link:not(.region-toggle) {
    display: block;
    padding: 2px 4px;
    height: auto;
    border-radius: 5px;
    line-height: 20px;
    background-color: #0072c1;
    color: #fff !important;

    &:hover {
      color: #fff !important;
    }
  }
}

.createCommentLink {
  display: block;
  padding: 2px 4px;
  height: auto;
  border-radius: 5px;
  line-height: 20px;
  background-color: #0072c1;
  color: #fff !important;
}

.task-card {
  .view-value {
    padding: 3px 12px;
    background-color: #0072c1;
    color: #fff;

    a {
      color: inherit;
    }
  }
}

.groups > span {
  top: 3px;
  padding: 5px 12px;
  background-color: #0072c1;
  color: #fff;

  a {
    color: inherit;
  }
}
